{% extends "home/home.html" %}

{% block content %}
<style>
    body {
        background-color: #2e2e2e;
    }
    .account-container {
        margin-top: 100px;
        max-width: 400px;
        background-color: #ff9100;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .account-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }
    .form-group {
        position: relative;
        margin-bottom: 20px;
    }
    .form-group ion-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #333;
    }
    .form-group input {
        width: 100%;
        padding: 10px 10px 10px 40px; 
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #fff;
    }
    .form-group button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }
    .form-group button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="account-container">
        <h2>My Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <ion-icon name="person-outline"></ion-icon>
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <ion-icon name="mail-outline"></ion-icon>
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <ion-icon name="image-outline"></ion-icon>
                <label for="id_image">Profile Picture</label>
                {{ form.image }}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}